*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #222222;
}

.add_input{
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  background: none;
  color: whitesmoke;
  padding: 10px;
  outline: none;
}

.add_btn{
  width: 100px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid whitesmoke;
  background: none;
  color: whitesmoke;
  margin-left: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.add_btn:hover{
  background: whitesmoke;
  color: #222222;
}

.todo__item{
  position: absolute;
  top: 100px;
  left: 100px;
  transform: translateX(-50%);
  cursor: move;
  min-width: 215px;
  max-width: 300px;
  color: black;
  padding: 1em;
  border-radius: 5px;
}

.del_btn{
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.del_btn:hover{
  color: red;
}